#nav {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 67px);
  z-index: 995;
}

#nav.hide {
  animation-duration: 1s;
  animation-name: slideout;
  margin-left: -100%;
}

#nav.show {
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slideout {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: -100%;
  }
}

.menu__shadow {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 900;
}

.menu__body {
  position: absolute;
  width: 320px;
  height: 100%;
  box-shadow: 10px 0 50px black;
  z-index: 910;
}

.menu__links {
  padding-top: 30px;
  padding-left: 80px;
}

.menu__link {
  font-size: 30px;
  line-height: 50px;
}

.menu-link {
  color: black;
}
