* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  user-select: none;
}

img { pointer-events: none; }

.app__mode_train {
  background-color: rgba(57, 200, 198, 0.8);
}

.app__mode_play {
  background-color: rgba(255, 177, 58, 0.9);
}